<div class="modal fade" id="<%= dialog_elements[:id].to_s %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= dialog_elements[:titulo].to_s %></h4>
      </div>
      <div class="modal-body">
        <%= dialog_elements[:texto].to_s %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-aceptar-modal" data-dismiss="modal"><%= t('botones.aceptar') %></button>
        <button type="button" class="btn btn-primary btn-cancelar-modal"><%= t('botones.cancelar') %></button>
      </div>
    </div>
  </div>
</div>