<div class="content no-padding-top">
  <div class="row">
    <div class="col-lg-4">
      <div class="panel bg-primary-800 text-center">
        <div class="panel-body botonesHome" data-linked-div="">
          <span class="glyphicon glyphicon-time"></span>
          <h1 class="no-margin-bottom"><%= t('dashboard.gestion_actividad') %></h1>
          <p class="lead text-thin no-margin-top no-margin-bottom"><%= t('dashboard.descripcion_gestion_actividad') %></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel bg-pink-700 text-center">
        <div class="panel-body botonesHome">
          <span class="glyphicon glyphicon-calendar"></span>
          <h1 class="no-margin-bottom"><%= t('dashboard.gestion_vacaciones') %></h1>
          <p class="lead text-thin no-margin-top no-margin-bottom"><%= t('dashboard.descripcion_gestion_vacaciones') %></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel bg-teal-700 text-center">
        <div class="panel-body botonesHome">
          <span class="glyphicon glyphicon-eur"></span>
          <h1 class="no-margin-bottom"><%= t('dashboard.gestion_gastos') %></h1>
          <p class="lead text-thin no-margin-top no-margin-bottom"><%= t('dashboard.descripcion_gestion_gastos') %></p>
        </div>
      </div>
    </div>
  </div>
</div>